h1,h3{
    background-color: black;
    color: white;
}
body{
    background-color: lightblue;
}

.quote{  
    background-color: white;  

}
/* anything with ID P2 gets selected */
#P2{
    background-color: beige;
}
/* Span with class name author gets selected */
span.author{
    font-style: italic;
    background-color: black;
    color: white;
}
ol{
    background-color: blueviolet;
}
ul{
    background-color: pink;
}
 
/* paragraph after h2 gets selected */
h2 + p{  
    font-size: x-large;
    color: blue;
}
/*Any paragraph with ID as attribute gets selected */
p[id]{
    background-color: white;
    color: green;
}



